html {
    touch-action: manipulation;
  }

body {
    font-size: 1.1em;
    font-family: sans-serif;
    color: #444;
    background-size: 20em 20em;
    user-select: none;
}

.contents-wrapper {
    width: 37em;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
}

.bingo-card-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-card-table-wrapper table {
    border-collapse: separate;
    border-spacing: .4em;
    table-layout: fixed;
    margin-left: 0%;
}

.bingo-card-table-wrapper table td {
    width: 90px;
    height: 90px;
    background-color: white;
}

.bingo-card-table-wrapper table img {
	-webkit-user-drag: none;
}

.bingo-card-table-wrapper table td.hole {
    background-color: rgba(255, 255, 0) !important;
}

.create-card-button {
    user-select: none;
    margin: 1em 0 1em 0;
}

.border-button {
    display: inline-block;
    /* width: 25.4em; */
    box-sizing: border-box;
    text-align: center;
    border: .1em solid #fe2200;
    border-radius: .3em;
    color: #fe2200;
    text-decoration: none;
    font-weight: bold;
    padding: .4em .8em;
    transition: .2s;
    cursor: pointer;
}

.bingo-card-outer {
    box-sizing: border-box;
    color: #000;
    width: 37em;
    height: 41em;
    padding: 183px 2px 2px 2px;
    display: inline-block;
    margin: 0 0 0 0;
    background-color: #fff;
    overflow: hidden;
    background-image: url(background.png);
    background-size: auto 110%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bingo-card-inner {
    border-radius: .2em;
}